server:
  port: 8082

spring:
  application:
    name: microservice-order
eureka:
  client:
    register-with-eureka: false
    fetch-registry: true
    service-url:
      defaultZone: http://admin:admin@127.0.0.1:6868/eureka/
